
    <footer  class="footer mt-auto">
      <div class="text-center p-4">
		 <% const currentYear  = new Date().getFullYear(); %>
         <h6>El Blog de Yolupa <span><%= currentYear %></span></h6>	 
			  <small class="text-muted">Iconos hechos por			  
			  <a href="https://www.flaticon.com/authors/sergei-kokota" title="Sergei Kokota">Sergei Kokota</a> de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
				 
			  </small>
		
		  
      </div>
    </footer> <!-- end footer-padding -->

