<% layout('layout/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
	
<div id="sign-form" class="card" style="width: 35%;">
	<div class="card-header text-center">
       <h1>Añade un comentario sobre "<%= book.title%>"</h1>      
    </div>  <!-- end card-header -->
		
	<div class="card-body">
		<form action="/books/<%= book._id %>/comments" method="POST"> 			
			<div class="mb-3">				
				<textarea class="form-control" type="text" name="comment[text]" style="height: 150px" placeholder="Érase una vez..." required></textarea>
			</div>
			  
            <div class="d-grid gap-2 my-4">
	            <button class="btn btn-lg">Enviar</button>
            </div>	
        </form>

        <a class="btn btn-sm" href="/books/<%= book._id %>">Volver</a>
		
	</div> <!-- card-body -->
	
</div>
		
		<!-- </div> -->

</div> <!-- row -->
	



